@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

section.bg {
	background-image: url("../images/bg.png");
	min-height: 700px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

img.logo {
	width: 200px;
	margin-top: 40px;
	margin-left: 100px;
}

nav ul {
	list-style-type: none;
	float: right;
	margin-right: 100px;
	margin-top: -50px;
}

nav ul li a {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	padding-right: 30px;
}

h2.title-1 {
	font-family: 'Rowdies', cursive;
	font-size: 65px;
	width: 50%;
	text-align: center;
	margin-top: 140px;
	margin-left: 250px;
	color: #fff;
}

a.yellow {
	color: #FFDF5B;
}

img.XI {
	width: 500px;
	margin-left: 200px;
	margin-top: 70px;
	margin-bottom: 70px;
	border: 35px solid #fff;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff
}

h2.about-title {
	font-family: 'Rowdies', cursive;
	float: right;
	margin-right: 490px;
	margin-top: -360px;
	font-size: 33px;
}

p.about-text {
	margin-right: 200px;
	float: right;
	width: 30%;
	margin-top: 180px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h2.products {
	font-family: 'Rowdies', cursive;
	margin-left: 200px;
	font-size: 33px;
}

img.wave1 {
	width: 100%;
	margin-top: 72px;
}

img.waves {
	width: 100%;
}

section.about {
	background-color: #FFDF5B;
	margin-top: -10px;
}

section.products {
	background: linear-gradient(#FFDF5B, #f3f398);
	margin-top: -30px;
}

div.grid {
	text-align: center;
	margin-right: 150px;
	margin-left: 150px;
}

img.products {
	width: 200px;
}

div.waves {
	background: linear-gradient(#f3f398, #FFDF5B);
}

footer {
	background-color: #f1f1f1;
	height: 300px;
	margin-top: -50px;
}

h2.contact {
	font-family: 'Rowdies', cursive;
	margin-left: 200px;
	font-size: 33px;
	margin-bottom: 70px;
}

div.info {
	display: grid;
	margin-left: 200px;
	font-size: 25px;
}

.fa {
	margin-bottom: 25px;
}


div.box {
    display: inline-flex;
    padding: 20px 20px 170px 20px;
    background-color: #fffaca;
    margin: 15px;
}

h2.product-title {
    position: absolute;
    font-size: 16px;
    margin-top: 285px;
    font-family: 'Poppins', sans-serif;
}

h2.product-price {
    position: absolute;
    font-size: 15px;
    margin-top: 310px;
    font-family: 'Poppins', sans-serif;
}

button {
    position: absolute;
    margin-top: 370px;
    margin-left: 10px;
    border: 3px solid #228B22;
    padding: 10px;
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fffaca;
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
}

.checked {
    color: orange;
  }

.stars {
    position: absolute;
    margin-top: 340px;
    margin-left: 50px;
}
@media only screen and (max-width: 600px) {

    div.grid, div.info {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    h2.product-title {
        margin-top: 190px;
    }

    h2.product-price {
        margin-top: 220px;
    }

    .stars {
    margin-top: 260px;
    margin-left: 20px;
    }

    button {
        margin-top: 290px;
        margin-left: -5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    img.XI {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 0;
        position: relative;
        top: 160px;
        border: 20px solid #fff;
    }

    img.logo {
    width: 130px;
    margin-left: 30px;
    margin-top: 30px;
    }

    h2.title-1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 38px;
    width: 100%;
    }

    img.wave1 {
        margin-top: 105px;
    }

    section.about {
        margin-top: -281px;
    }

    h2.products {
        text-align: center;
        margin-left: 0;
    }

    h2.about-title {
        margin-right: 0;
        float: none;
        text-align: center;
        margin-top: -70px;
    }

    p.about-text {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-top: 200px;
    }

    footer {
        margin-top: -35px;
    }

    h2.contact {
        text-align: center;
        margin-left: 0;
    }

    img.products {
        width: 130px;
    }
}

nav .icon {
    display: none;
  }

  label #sign-one, 
label #sign-two {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    margin-top: -55px;
}

#res-menu {
    display: none;
}

@media (max-width: 870px) {
    label #sign-one{
        display: block;
    }
    nav ul {
    position: fixed;
    width: 100%;
    height: auto;
    background: #fff;
    top: 160px;
    left: -1000vh;
    text-align: left;
    transition: .5s;
    z-index: 10;
    }
    nav ul li {
        display: grid;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 18px;
        padding-bottom: 32px;
        color: black;
    }
    #res-menu:checked ~ ul {
        left: 0;
    }
    #res-menu:checked ~ label #sign-one {
        display: none;
    }
    #res-menu:checked ~ label #sign-two {
        display: block;
    }
}

